@import "@/styles/utils";

.Container {
    display: flex;
    flex: 1;
    
    align-items: center;
    justify-content: center;
    
    .Video {
        background: #000000;
        width: 854px;
        height: 480px;
    }
}